In [2]:
%load_ext sql
%sql mysql+mysqlconnector://root:root@localhost/grocery

In [42]:
%%sql

create database if not exists grocery;
use grocery;

 * mysql+mysqlconnector://root:***@localhost/grocery
0 rows affected.
1 rows affected.
0 rows affected.

[]

In [43]:
%%sql
show databases;

 * mysql+mysqlconnector://root:***@localhost/grocery
10 rows affected.

[('grocery',),
 ('information_schema',),
 ('mydatabase',),
 ('mynewdatabase',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sql_practice',),
 ('sys',),
 ('world',)]

In [45]:
%%sql
# drop table Products;
# drop table Categories ;

CREATE TABLE if not exists Categories (
    category_id INT PRIMARY KEY AUTO_INCREMENT,
    name VARCHAR(100) NOT NULL unique,
    description TEXT
);

CREATE TABLE if not exists Products (
    product_id INT PRIMARY KEY AUTO_INCREMENT,
    name VARCHAR(150) NOT NULL,
    category_id INT,
    brand VARCHAR(100),
    cost_price DECIMAL(10, 2) NOT NULL,
    price DECIMAL(10, 2) NOT NULL,
    unit VARCHAR(20),
    stock_quantity INT DEFAULT 0,
    description TEXT,
    is_available BOOLEAN DEFAULT TRUE,
    FOREIGN KEY (category_id) REFERENCES Categories(category_id)
);

CREATE TABLE if not exists Customers (
    customer_id INT PRIMARY KEY AUTO_INCREMENT,
    name VARCHAR(100) NOT NULL,
    email VARCHAR(100) UNIQUE,
    phone VARCHAR(15) UNIQUE,
    address TEXT,
    registration_date DATETIME DEFAULT CURRENT_TIMESTAMP,
    is_online_customer BOOLEAN DEFAULT FALSE
);

CREATE TABLE if not exists Staff (
    staff_id INT PRIMARY KEY AUTO_INCREMENT,
    name VARCHAR(100) NOT NULL,
    role VARCHAR(50),
    phone VARCHAR(15),
    salary DECIMAL(10,2),
    hire_date DATETIME DEFAULT CURRENT_TIMESTAMP
);

CREATE TABLE if not exists Vendors (
    vendor_id INT PRIMARY KEY AUTO_INCREMENT,
    name VARCHAR(100) NOT NULL,
    contact_person VARCHAR(100),
    phone VARCHAR(15),
    email VARCHAR(100),
    address TEXT
);

CREATE TABLE if not exists Orders (
    order_id INT PRIMARY KEY AUTO_INCREMENT,
    customer_id INT,
    order_type ENUM('online', 'offline') NOT NULL DEFAULT 'offline',
    order_date DATETIME DEFAULT CURRENT_TIMESTAMP,
    total_amount DECIMAL(10, 2) NOT NULL,
    payment_status ENUM('pending', 'paid', 'failed') DEFAULT 'pending',
    delivery_status ENUM('pending', 'shipped', 'delivered') DEFAULT 'pending',
    is_credit BOOLEAN DEFAULT FALSE,
    FOREIGN KEY (customer_id) REFERENCES Customers(customer_id)
);

CREATE TABLE if not exists Order_Items (
    order_item_id INT PRIMARY KEY AUTO_INCREMENT,
    order_id INT,
    product_id INT,
    quantity INT NOT NULL,
    price_per_unit DECIMAL(10, 2),
    total_price DECIMAL(10, 2),
    FOREIGN KEY (order_id) REFERENCES Orders(order_id),
    FOREIGN KEY (product_id) REFERENCES Products(product_id)
);

CREATE TABLE if not exists Payments (
    payment_id INT PRIMARY KEY AUTO_INCREMENT,
    order_id INT,
    payment_mode ENUM('cash', 'UPI', 'card', 'netbanking') NOT NULL,
    payment_date DATETIME DEFAULT CURRENT_TIMESTAMP,
    amount DECIMAL(10, 2) NOT NULL,
    transaction_id VARCHAR(100),
    FOREIGN KEY (order_id) REFERENCES Orders(order_id)
);

CREATE TABLE if not exists Inventory_Log (
    log_id INT PRIMARY KEY AUTO_INCREMENT,
    product_id INT,
    change_type ENUM('added', 'sold', 'returned') NOT NULL,
    quantity_change INT NOT NULL,
    timestamp DATETIME DEFAULT CURRENT_TIMESTAMP,
    note TEXT,
    FOREIGN KEY (product_id) REFERENCES Products(product_id)
);

CREATE TABLE if not EXISTS Customer_Accounts (
    account_id INT PRIMARY KEY AUTO_INCREMENT,
    customer_id INT,
    total_credit DECIMAL(10, 2) DEFAULT 0.00, 
    last_payment_date DATETIME,
    FOREIGN KEY (customer_id) REFERENCES Customers(customer_id)
);

CREATE TABLE if not EXISTS Customer_Account_Transactions (
    transaction_id INT PRIMARY KEY AUTO_INCREMENT,
    customer_id INT,
    transaction_type ENUM('credit', 'payment') NOT NULL,
    amount DECIMAL(10, 2) NOT NULL,
    transaction_date DATETIME DEFAULT CURRENT_TIMESTAMP,
    reference_note TEXT,
    FOREIGN KEY (customer_id) REFERENCES Customers(customer_id)
);

 * mysql+mysqlconnector://root:***@localhost/grocery
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [46]:
%%sql

desc Categories;

 * mysql+mysqlconnector://root:***@localhost/grocery
3 rows affected.

[('category_id', 'int', 'NO', 'PRI', None, 'auto_increment'),
 ('name', 'varchar(100)', 'NO', 'UNI', None, ''),
 ('description', 'text', 'YES', '', None, '')]

In [47]:
%%sql

INSERT INTO Categories (name, description) VALUES
('rice_grains', 'All types of rice, millets, wheat and other grains'),
('spices', 'Whole and ground spices including masalas'),
('vegetables', 'Fresh vegetables commonly used in South Indian cooking'),
('snacks', 'Traditional Indian snacks and sweets'),
('pulses_lentils', 'Dals like toor dal, moong dal, urad dal, etc.'),
('millets', 'Traditional Tamil millets like ragi, varagu, samai, kuthiraivali'),
('oils_ghee', 'Cooking oils like gingelly (nallennai), coconut oil, and ghee'),
('pickles_pastes', 'South Indian pickles, thokku, and cooking pastes'),
('beverages', 'Filter coffee, tea, and traditional drinks like rose milk mix'),
('flours', 'Wheat flour, rice flour, ragi flour, idiyappam flour, etc.'),
('frozen_foods', 'Frozen parottas, idli/dosa batter, frozen vegetables'),
('instant_foods', 'Ready-to-eat meals, instant mixes like upma, pongal mix'),
('dairy_products', 'Milk, curd, paneer, and dairy-based items'),
('pooja_items', 'Camphor, agarbatti, kumkum, turmeric, etc.'),
('utensils_cookware', 'Traditional kitchen tools like idli plates, iron kadai'),
('herbal_ayurvedic', 'Siddha and Ayurvedic products, herbs, powders'),
('sweets', 'Traditional Tamil sweets like laddu, mysorepak, halwa'),
('savories', 'Murukku, thattai, mixture, seedai, etc.'),
('bakery_biscuits', 'Indian bakery items, rusk, biscuits'),
('baby_products', 'Baby foods, powders, oils'),
('toiletries', 'Soap, shampoo, toothpaste, etc.'),
('cleaning_supplies', 'Detergents, phenyl, dishwashing items'),
('condiments_sauces', 'Chutneys, sauces, vinegars, ketchup'),
('dry_fruits_nuts', 'Cashew, almond, raisins, and other dry fruits'),
('papad_vadam', 'Appalam, vadagam, vadam varieties'),
('broom_pooja', 'Korai pai, thoranam, broomsticks'),
('school_fancy', 'Pens, pencils, maps, notebooks, water bottles'),
('organic_products', 'Certified organic grains, millets, oils'),
('festival_specials', 'Special items for Pongal, Deepavali, etc.')
('paper_cups_plates', 'Paper and disposable items like tea cups, plates, and water cups'),
('cattle_feed', 'Feed for cows, goats, and other cattle'),
('cakes_chocolates', 'Cakes, chocolates, and confectionery items'),
('oral_care', 'Toothpaste, toothbrushes and oral hygiene items');

 * mysql+mysqlconnector://root:***@localhost/grocery
29 rows affected.

[]

In [51]:
%%sql

INSERT INTO Categories (name, description) VALUES
('paper_cups_plates', 'Paper and disposable items like tea cups, plates, and water cups'),
('cattle_feed', 'Feed for cows, goats, and other cattle'),
('cakes_chocolates', 'Cakes, chocolates, and confectionery items'),
('oral_care', 'Toothpaste, toothbrushes and oral hygiene items');

 * mysql+mysqlconnector://root:***@localhost/grocery
4 rows affected.

[]

In [52]:
%%sql
select * from Categories;

 * mysql+mysqlconnector://root:***@localhost/grocery
33 rows affected.

[(1, 'rice_grains', 'All types of rice, millets, wheat and other grains'),
 (2, 'spices', 'Whole and ground spices including masalas'),
 (3, 'vegetables', 'Fresh vegetables commonly used in South Indian cooking'),
 (4, 'snacks', 'Traditional Indian snacks and sweets'),
 (5, 'pulses_lentils', 'Dals like toor dal, moong dal, urad dal, etc.'),
 (6, 'millets', 'Traditional Tamil millets like ragi, varagu, samai, kuthiraivali'),
 (7, 'oils_ghee', 'Cooking oils like gingelly (nallennai), coconut oil, and ghee'),
 (8, 'pickles_pastes', 'South Indian pickles, thokku, and cooking pastes'),
 (9, 'beverages', 'Filter coffee, tea, and traditional drinks like rose milk mix'),
 (10, 'flours', 'Wheat flour, rice flour, ragi flour, idiyappam flour, etc.'),
 (11, 'frozen_foods', 'Frozen parottas, idli/dosa batter, frozen vegetables'),
 (12, 'instant_foods', 'Ready-to-eat meals, instant mixes like upma, pongal mix'),
 (13, 'dairy_products', 'Milk, curd, paneer, and dairy-based items'),
 (14, 'pooja_items', 'Camphor, agarbatti, kumkum, turmeric, etc.'),
 (15, 'utensils_cookware', 'Traditional kitchen tools like idli plates, iron kadai'),
 (16, 'herbal_ayurvedic', 'Siddha and Ayurvedic products, herbs, powders'),
 (17, 'sweets', 'Traditional Tamil sweets like laddu, mysorepak, halwa'),
 (18, 'savories', 'Murukku, thattai, mixture, seedai, etc.'),
 (19, 'bakery_biscuits', 'Indian bakery items, rusk, biscuits'),
 (20, 'baby_products', 'Baby foods, powders, oils'),
 (21, 'toiletries', 'Soap, shampoo, toothpaste, etc.'),
 (22, 'cleaning_supplies', 'Detergents, phenyl, dishwashing items'),
 (23, 'condiments_sauces', 'Chutneys, sauces, vinegars, ketchup'),
 (24, 'dry_fruits_nuts', 'Cashew, almond, raisins, and other dry fruits'),
 (25, 'papad_vadam', 'Appalam, vadagam, vadam varieties'),
 (26, 'broom_pooja', 'Korai pai, thoranam, broomsticks'),
 (27, 'school_fancy', 'Pens, pencils, maps, notebooks, water bottles'),
 (28, 'organic_products', 'Certified organic grains, millets, oils'),
 (29, 'festival_specials', 'Special items for Pongal, Deepavali, etc.'),
 (30, 'paper_cups_plates', 'Paper and disposable items like tea cups, plates, and water cups'),
 (31, 'cattle_feed', 'Feed for cows, goats, and other cattle'),
 (32, 'cakes_chocolates', 'Cakes, chocolates, and confectionery items'),
 (33, 'oral_care', 'Toothpaste, toothbrushes and oral hygiene items')]

In [3]:
%%sql

# types of create table queries:
# 1.CTAS(create table as select)
# 2.ITAS(INSERT TABLE AS SELECT)
# 3.CTE(COMMON TABLE EXPRESSION) WE USE `WITH TABLECTENAME`
# 4.TEMPORARY TABLE


create table sub_category as (select name from Categories);

select * from sub_category;

 * mysql+mysqlconnector://root:***@localhost/grocery
33 rows affected.
33 rows affected.

[('baby_products',),
 ('bakery_biscuits',),
 ('beverages',),
 ('broom_pooja',),
 ('cakes_chocolates',),
 ('cattle_feed',),
 ('cleaning_supplies',),
 ('condiments_sauces',),
 ('dairy_products',),
 ('dry_fruits_nuts',),
 ('festival_specials',),
 ('flours',),
 ('frozen_foods',),
 ('herbal_ayurvedic',),
 ('instant_foods',),
 ('millets',),
 ('oils_ghee',),
 ('oral_care',),
 ('organic_products',),
 ('papad_vadam',),
 ('paper_cups_plates',),
 ('pickles_pastes',),
 ('pooja_items',),
 ('pulses_lentils',),
 ('rice_grains',),
 ('savories',),
 ('school_fancy',),
 ('snacks',),
 ('spices',),
 ('sweets',),
 ('toiletries',),
 ('utensils_cookware',),
 ('vegetables',)]

In [4]:
%%sql

# SQL commands:

# 1 DDL commands:
# 1.1 CREATE
# 1.2 DROP
# 1.3 ALTER
# 1.4 TRUNCATE
# 1.5 COMMENT 
# 1.6 RENAME

create table user(user_id int primary key,name varchar(30) not null,age int not null);

 * mysql+mysqlconnector://root:***@localhost/grocery
0 rows affected.

[]

In [5]:
%%sql

# to describe the table 
desc user

 * mysql+mysqlconnector://root:***@localhost/grocery
3 rows affected.

[('user_id', 'int', 'NO', 'PRI', None, ''),
 ('name', 'varchar(30)', 'NO', '', None, ''),
 ('age', 'int', 'NO', '', None, '')]

In [7]:
%%sql

insert into user values (1,'Arun',23),(2,'Bob',26);

select * from user;

 * mysql+mysqlconnector://root:***@localhost/grocery
2 rows affected.
2 rows affected.

[(1, 'Arun', 23), (2, 'Bob', 26)]

In [8]:
%%sql

# to rename a table
alter table user rename to user_details;

 * mysql+mysqlconnector://root:***@localhost/grocery
0 rows affected.

[]

In [9]:
%%sql

select * from user;

 * mysql+mysqlconnector://root:***@localhost/grocery
(mysql.connector.errors.ProgrammingError) 1146 (42S02): Table 'grocery.user' doesn't exist
[SQL: select * from user;]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [10]:
%%sql

select * from user_details;

 * mysql+mysqlconnector://root:***@localhost/grocery
2 rows affected.

[(1, 'Arun', 23), (2, 'Bob', 26)]

In [15]:
%%sql

# to rename a column of a table
# alter table user_details rename column name to user_name;

# to add new column
# alter table user_details add mobile varchar(10) unique;

# to modify datatype of a column 
# alter table user_details modify column age varchar(3);

# to modify/add constraint to a column
alter table user_details add constraint age not null;

desc user_details;

select * from user_details;

 * mysql+mysqlconnector://root:***@localhost/grocery
(mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'not null' at line 11
[SQL: # to rename a column of a table
# alter table user_details rename column name to user_name;

# to add new column
# alter table user_details add mobile varchar(10) unique;

# to modify datatype of a column
# alter table user_details modify column age varchar(3);

# to modify/add constraint to a column
alter table user_details add constraint age not null;]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [16]:
%%sql

desc user_details;

 * mysql+mysqlconnector://root:***@localhost/grocery
4 rows affected.

[('user_id', 'int', 'NO', 'PRI', None, ''),
 ('user_name', 'varchar(30)', 'NO', '', None, ''),
 ('age', 'varchar(3)', 'YES', '', None, ''),
 ('mobile', 'varchar(10)', 'YES', 'UNI', None, '')]